#include <zephyr/dt-bindings/adc/nrf-saadc.h>

&adc {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_3";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
		zephyr,input-positive = <NRF_SAADC_AIN7>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <2>;
	};
};

/ {
	zephyr,user {
		io-channels = <&adc 7>;
		battery-enable-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
	};
};
